body, h1, h2{
	font-family: "Poppins", sans-serif;
	margin: 20px;
}

body {
	font-size: 16px;
}

.w3-half img{
	margin-bottom:-6px;
	margin-top:16px;
	opacity:0.8;
	cursor:pointer
}

.w3-half img:hover{
	opacity:1
}
	
div.gallery {
    margin: 20px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 300%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}